#backgroundImage {
  height: 105%;
  width: 100%;
  z-index: 1;
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
}

#legend {
  z-index: 3;
  text-align: center;
  font-family: Aldrich;
  font-size: 64px;
  color: #CCCCCC;
  padding-top: 12px;

  background-image: url("images/text/textbackground.png");
  background-repeat: no-repeat;
  width: 1000px;
  height: 87px;

  margin-left: calc(50% - 500px);
  margin-top: 50px;
  position: absolute;
}
#legendShadow {
  z-index: 2;
  text-align: center;
  font-family: Aldrich;
  font-size: 64px;
  color: #CCCCCC;
  padding-top: 12px;

  background-image: url("images/text/text_shadow.png");
  background-repeat: no-repeat;
  width: 1200px;
  height: 300px;

  margin-left: calc(50% - 600px);
  margin-top: -50px;
  position: absolute;
}
#toggleLegend {
  width: 154px;
  height: 100px;
  background-color: transparent;
  background-image: url("images/disable/enabled.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  left: calc(50% - 640px);
  top: 57px;
  z-index: 4;
}
#randomizeLegend {
  width: 154px;
  height: 100px;
  background-color: transparent;
  background-image: url("images/dice/dice.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  left: calc(50% + 500px);
  top: 57px;
  z-index: 4;
}
#randomizeLegend:hover {
  background-image: url("images/dice/dice_hover.png");
}
#randomizeLegend:active {
  background-image: url("images/dice/dice_active.png");
}
#legendDiceShadow {
  width: 185px;
  height: 137px;
  background-color: transparent;
  background-image: url("images/dice/dice_shadow.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  left: calc(50% + 485px);
  top: 17px;
  z-index: 2;
}
#legendToggleShadow {
  width: 185px;
  height: 137px;
  background-color: transparent;
  background-image: url("images/dice/dice_shadow.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  left: calc(50% - 655px);
  top: 17px;
  z-index: 2;
}

#location {
  z-index: 3;
  text-align: center;
  font-family: Aldrich;
  font-size: 64px;
  color: #CCCCCC;
  padding-top: 12px;

  background-image: url("images/text/textbackground.png");
  background-repeat: no-repeat;
  width: 1000px;
  height: 100px;
  margin-left: calc(50% - 500px);
  margin-top: 200px;
  position: absolute;
}
#locationShadow {
  z-index: 2;
  text-align: center;
  font-family: Aldrich;
  font-size: 64px;
  color: #CCCCCC;
  padding-top: 12px;

  background-image: url("images/text/text_shadow.png");
  background-repeat: no-repeat;
  width: 1200px;
  height: 300px;

  margin-left: calc(50% - 600px);
  margin-top: 100px;
  position: absolute;
}
#toggleLocation {
  width: 154px;
  height: 100px;
  background-color: transparent;
  background-image: url("images/disable/enabled.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  left: calc(50% - 640px);
  top: 207px;
  z-index: 4;
}
#randomizeLocation {
  width: 154px;
  height: 100px;
  background-color: transparent;
  background-image: url("images/dice/dice.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  left: calc(50% + 500px);
  top: 207px;
  z-index: 4;
}
#randomizeLocation:hover {
  background-image: url("images/dice/dice_hover.png");
}
#randomizeLocation:active {
  background-image: url("images/dice/dice_active.png");
}
#locationDiceShadow {
  width: 185px;
  height: 137px;
  background-color: transparent;
  background-image: url("images/dice/dice_shadow.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  left: calc(50% + 485px);
  top: 167px;
  z-index: 2;
}
#locationToggleShadow {
  width: 185px;
  height: 137px;
  background-color: transparent;
  background-image: url("images/dice/dice_shadow.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  left: calc(50% - 655px);
  top: 167px;
  z-index: 2;
}

#team {
  z-index: 3;
  text-align: center;
  font-family: Aldrich;
  font-size: 40px;
  color: #CCCCCC;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;

  background-image: url("images/text/textbackground.png");
  background-repeat: no-repeat;
  width: 950px;
  height: 87px;
  margin-left: calc(50% - 500px);
  margin-top: 350px;
  position: absolute;
}
#teamShadow {
  z-index: 2;
  text-align: center;
  font-family: Aldrich;
  font-size: 64px;
  color: #CCCCCC;
  padding-top: 12px;

  background-image: url("images/text/text_shadow.png");
  background-repeat: no-repeat;
  width: 1200px;
  height: 300px;

  margin-left: calc(50% - 600px);
  margin-top: 250px;
  position: absolute;
}
#toggleTeam {
  width: 154px;
  height: 100px;
  background-color: transparent;
  background-image: url("images/disable/enabled.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  left: calc(50% - 640px);
  top: 357px;
  z-index: 4;
}
#randomizeTeam {
  width: 154px;
  height: 100px;
  background-color: transparent;
  background-image: url("images/dice/dice.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  left: calc(50% + 500px);
  top: 357px;
  z-index: 4;
}
#randomizeTeam:hover {
  background-image: url("images/dice/dice_hover.png");
}
#randomizeTeam:active {
  background-image: url("images/dice/dice_active.png");
}
#teamDiceShadow {
  width: 185px;
  height: 137px;
  background-color: transparent;
  background-image: url("images/dice/dice_shadow.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  left: calc(50% + 485px);
  top: 317px;
  z-index: 2;
}
#teamToggleShadow {
  width: 185px;
  height: 137px;
  background-color: transparent;
  background-image: url("images/dice/dice_shadow.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  left: calc(50% - 655px);
  top: 317px;
  z-index: 2;
}

#personalRule {
  z-index: 3;
  text-align: center;
  font-family: Aldrich;
  font-size: 40px;
  color: #CCCCCC;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;

  background-image: url("images/text/textbackground.png");
  background-repeat: no-repeat;
  width: 950px;
  height: 87px;
  margin-left: calc(50% - 500px);
  margin-top: 500px;
  position: absolute;
}
#personalRuleShadow {
  z-index: 2;
  text-align: center;
  font-family: Aldrich;
  font-size: 64px;
  color: #CCCCCC;
  padding-top: 12px;

  background-image: url("images/text/text_shadow.png");
  background-repeat: no-repeat;
  width: 1200px;
  height: 300px;

  margin-left: calc(50% - 600px);
  margin-top: 400px;
  position: absolute;
}
#togglePersonalRule {
  width: 154px;
  height: 100px;
  background-color: transparent;
  background-image: url("images/disable/enabled.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  left: calc(50% - 640px);
  top: 507px;
  z-index: 4;
}
#randomizePersonalRule {
  width: 154px;
  height: 100px;
  background-color: transparent;
  background-image: url("images/dice/dice.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  left: calc(50% + 500px);
  top: 507px;
  z-index: 4;
}
#randomizePersonalRule:hover {
  background-image: url("images/dice/dice_hover.png");
}
#randomizePersonalRule:active {
  background-image: url("images/dice/dice_active.png");
}
#personalRuleDiceShadow {
  width: 185px;
  height: 137px;
  background-color: transparent;
  background-image: url("images/dice/dice_shadow.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  left: calc(50% + 485px);
  top: 467px;
  z-index: 2;
}
#personalRuleToggleShadow {
  width: 185px;
  height: 137px;
  background-color: transparent;
  background-image: url("images/dice/dice_shadow.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  left: calc(50% - 655px);
  top: 467px;
  z-index: 2;
}

#generate {
  font-family: Aldrich;
  font-size: 64;
  color: #CCCCCC;

  width: 249px;
  height: 100px;
  background-color: transparent;
  background-image: url("images/gen/generate.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  margin-left: calc(50% - 125px);
  margin-top: 670px;
  z-index: 3;
}
#generate:hover {
  background-image: url("images/gen/generate_hover.png");
}
#generate:active {
  background-image: url("images/gen/generate_active.png");
}
#generateShadow {
  width: 289px;
  height: 135px;
  background-color: transparent;
  background-image: url("images/gen/generate_shadow.png");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  margin-left: calc(50% - 148px);
  margin-top: 652px;
  z-index: 2;
}
